<template>
  <div class="fluid container">
    <div class="form-group form-group-lg panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sortbale control</h3>
      </div>
      <div class="panel-body">
        <div class = "checkbox">
          <label><input type = "checkbox" v-model="editable">Enable drag and drop</label>
        </div>
        <button type="button" class="btn btn-default" @click="orderList">Sort by original order</button>
      </div>
    </div>

    <div  class="col-md-6">
      <draggable element="ul" v-model="list" :options="dragOptions" :move="onMove" @start="isDragging=true" @end="isDragging=false">
        <transition-group type="transition" :name="'flip-list'">
          <div v-for="element in list" class="divList" :key="element.order">
            <img src="http://image.cnwest.com/attachement/png/site1/20160119/2793348059957773988.png" alt="">
            <p>
              {{element.name}}
            </p>
          </div>
        </transition-group>
      </draggable>
    </div>


    <div  class="list-group col-md-3">
      <pre>{{listString}}</pre>
    </div>
    <div  class="list-group col-md-3">
      <pre>{{list2String}}</pre>
    </div>
  </div>
</template>

<script>
  import draggable from 'vuedraggable'
  const message = [ 'vue.draggable', 'draggable', 'component', 'for', 'vue.js 2.0', 'based' , 'on', 'Sortablejs' ]
  export default {
    name: 'hello',
    components: {
      draggable,
    },
    data () {
      return {
        list: message.map( (name,index) => {return {name, order: index+1, fixed: false}; }),
        list2:[],
        editable:true,
        isDragging: false,
        delayedDragging:false
      }
    },
    methods:{
      orderList () {

        this.list = this.list.sort((one,two) =>{return one.order-two.order; })
      },
      onMove ({relatedContext, draggedContext}) {
        const relatedElement = relatedContext.element;
        const draggedElement = draggedContext.element;
        return (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
      }
    },
    computed: {
      dragOptions () {
        return  {
          animation: 0,
          group: 'description',
          disabled: !this.editable,
          ghostClass: 'ghost'
        };
      },
      listString(){
        return JSON.stringify(this.list, null, 2);
      },
      list2String(){
        return JSON.stringify(this.list2, null, 2);
      }
    },
    watch: {
      isDragging (newValue) {
        if (newValue){
          this.delayedDragging= true
          return
        }
        this.$nextTick( () =>{
          this.delayedDragging =false
        })
      }
    }
  }
</script>

<style>
  .flip-list-move {
    transition: transform 0.5s;
  }
  .no-move {
    transition: transform 0s;
  }
  .ghost {
    opacity: .5;
    background: #C8EBFB;
  }
  .list-group {
    min-height: 20px;
  }
  .list-group-item {
    cursor: move;
  }
  .list-group-item i{
    cursor: pointer;
  }

  .divList{
    padding: 4px;
    width: 200px;
    border: 1px solid #ddd;
    float: left;
    margin: 4px;
  }

  .divList img{
    width: 100%;
  }
</style>
